
<div class="container px-5 px-sm-0">
 <div class="low">
  　<div class="col-md-3">
<h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %><br>
  <tabel>
   <tbody>
    <tr>
     <th>name</th><td><%= user.name %></td><br>
     <th>introduction</th><td><%= user.introduction %></td><br>
     <td>
     <%= link_to edit_user_path(current_user.id), class: "btn border", method: :get do %></td>
     <i class="fa-solid fa-user-gear"></i> 
     <% end %>
    </tr>
   </tbody>
  </tabel>

<h2>New book</h2>
<%= form_with model: book do |f| %>
 <div class="field">
  <%= f.label :Title %><br>
  <%= f.text_field :title %>
 </div>
 <div class="field">
  <%= f.label :Opinion %><br>
  <%= f.text_area :body %>
 </div>
 <div class="submit">
   <%= f.submit 'Create Book', class:"btn btn-secondary bg-success" %>
 </div>
<% end %>
</div>
</div>
</div>