<h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <tabel>
   <tbody>
    <tr>
     <th>name</th><td><%= user.name %></td>
     <th>introduction</th><td><%= user.introduction %></td>
    </tr>
   </tbody>
  </tabel>

<h2>New book</h2>
<%= form_with model: book do |f| %>
 <div class="field">
  <%= f.label :Title %><br>
  <%= f.text_field :title %>
 </div>
 <div class="field">
  <%= f.label :Opinion %><br>
  <%= f.text_area :body %>
 </div>
 <div class="submit">
   <%= f.submit 'Create Book', class:"btn btn-secondary bg-success" %>
 </div>
<% end %>