<div>
  <%= flash[:notice] %>
</div>

<%= render 'list', book: @newbook, user: @newuser %>

<h2>Book　detail</h2>

<table>
 <tbody>
    <tr> <!--ユーザー画像とネームを追加する-->
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td>Edit</td>
    <td>
    <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    </td>
   </tr>
 </tbody>
</table>