
<%= render 'list', book: @newbook, user: @newuser %>

<div class="col-md-8 offset-md-1">
<h2>Book　detail</h2>

<table class="table">
 <tbody>
   <% @book.each do |book| %>
    <tr>
    <td><%= image_tag book.user.get_profile_image(100,100) %><br>
    <%= book.user.name %></td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td>Edit</td>
    <td>
    <% if book.user == current_user %>
    <%= link_to "Destroy", books_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
    </td>
   </tr>
   <% end %>
 </tbody>
</table>
</div>